---
title : profile
layout : tataletak.njk
---
<h1> Welcome to My Profile </h1>

<div class="profile">
    <ul>
        <li> nama : ravi prayoga</li>
        <li> nim  : 14116081</li>
    </ul>
</div>
